
extends layout

block content

  // A nice, friendly welcome
  h1.heroHelloWorld  Hello, world from PJ
  hr

block rafal-content

  // A nice, friendly welcome
  h1.heroHelloWorld  Hello, world from Rafal
  hr

